@font-face {
    font-family: 'Gelasio';
    src: url(assets/fonts/Gelasio-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

/*Normalize*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    @media screen and (max-width: 870px) {
        height: auto;
    }
    width: 100%;
    font-size: 100%;
    font-family: Gelasio;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
    position: relative;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/

.bigred {
    font-size: 20px;
    color: red;
}

/*Normalize*/
.main_container {
}

.header {
}
.main {
}
.game {
}
.hangman_block {
}
.gallows {
}
.head {
}
.body {
}
.hand-left {
}
.hand-right {
}
.leg-left {
}
.leg-right {
}

.words_block {
}
.word {
}
.hint {
}
.guesses {
}
.keyboard {
}
.footer {
}
.footer_item {
}
